<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nepotech.practicalanswers" >

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchResultsActivity" />

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home_activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".our_resources_activity.OurResourcesActivity"
            android:label="Our Resources"
            android:launchMode="singleTop"
            android:parentActivityName=".home_activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home_activity.HomeActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".items.SingleCommunityActivity"
            android:label="Collections"
            android:launchMode="singleTop"
            android:parentActivityName=".our_resources_activity.OurResourcesActivity"
            android:theme="@style/SingleCommunityTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".our_resources_activity.OurResourcesActivity" />
        </activity>
        <activity
            android:name=".items.SingleItemActivity"
            android:label="@string/title_activity_single_item"
            android:parentActivityName=".items.SingleCommunityActivity"
            android:theme="@style/SingleItemTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".items.SingleCommunityActivity" />
        </activity>
        <activity
            android:name=".home_activity.Starred"
            android:label="@string/title_activity_starred"
            android:parentActivityName=".home_activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home_activity.HomeActivity" />
        </activity>
        <activity
            android:name=".home_activity.Downloaded"
            android:label="@string/title_activity_downloaded"
            android:parentActivityName=".home_activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home_activity.HomeActivity" />
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".community.CommunityDetailsActivity"
            android:label="@string/title_activity_community_details"
            android:parentActivityName=".our_resources_activity.OurResourcesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".our_resources_activity.OurResourcesActivity" />
        </activity>
    </application>

</manifest>
